/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/fonts
/public/frontend
/public/mix-manifest.json
/storage/*.key
/tests/*
/vendor
/.idea
/.vscode
/.vagrant
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
.env
storage/debugbar
database/seeds/DevPermissionTableSeeder.php

!storage/public/*
